.container {
  color:white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 2rem;
}

.item {
  color:white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name {
  color:white;
  font-size: 1.2rem;
}
.price{
  color:white;
}
.price span {
  font-size: 1rem;
  color:white;
}

.totalAmount {
    color:white;
    font-size: 1.4rem;
    padding-top: 2rem;
  padding-left: inherit;
  align-self: flex-start;
}
.remove {
  background-color: rgb(133, 24, 22);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding: 0.7rem 1rem;
  }
  .remove:hover {
    background-color: rgb(85, 13, 13);
  }
  .items{
    height: 100%;

  }