
.container {
  background-color: rgba(104, 95, 93, 0.356);
  width: 19vw;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
  color: white;
  padding: 1.5vw;
}
.foodList{
    align-self: flex-start;
    padding-left: 0;
    height: 100%;
    /* overflow-y:scroll; */

}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
}
.columnOne{
    width: 100%;
    padding-right: 5vw;
    flex-grow:3;
    flex-shrink: 3;
}
.columnTwo{
    flex-shrink: 0;
}
.name {
  font-size: 0.7vw;
  flex-shrink: 3
}
.price span {
  font-size: 1vw;
  color: gray;
}
.button {
  background-color: rgb(133, 24, 22);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color:white;
  padding: 0.7vw 0.5vw;
}
.button:hover {
  background-color: rgb(85, 13, 13);
}

.finalDetails{
 padding-bottom: 1.5vw;   
 align-self: center;
 height: fit-content;
 overflow: hidden;
}

.totalAmount {
  color: rgb(243, 240, 240);
  font-size: 1.1vw;
  padding-top: 2vw;
  padding-left: inherit;
  align-self: flex-start;
}
.order{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: rgb(133, 24, 22);
    padding:0.6vw 0.8vw;
    align-self: center;
    display: flex;
    margin-top:1rem;
    align-content: center;
    justify-content: center;
}
.order:hover{
  background-color: rgb(85, 13, 13);
}
.orderText{
    align-self: center;
    text-decoration: none;
    color:white;
}
