input{
    border: none;
    border-radius: 50;
    }
    .buttons{
        margin: 0;
    }
    
    .buttons button{
        width: 100%;
        background-color: rgb(189, 64, 15);
        border: none;
        margin: 0;
        cursor: pointer;
        transition: all 0.2s ease-in;
        padding:0.07rem 1rem;
    }
    .buttons button:hover{
        background-color: rgb(150, 42, 9);
    }
    form{
        display: flex;
        flex-direction: column;
        width:50%
    }