
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&family=PT+Serif:ital@1&display=swap');
*{
    margin:0;
    font-family: 'PT Serif', serif;
   
}
.foodDetail{
    /* display: flex;
    flex-direction: row; */
    /* width:60%; */
    font-size: 1.4rem;
    /* margin: 3rem; */
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.description{
    font-size: 0.7rem;
}

.columnOne{
   /* margin: auto; */

}
.columnTwo{
    /* margin: auto; */
}

.img{
    width:50%;
    margin:auto;
    padding-top: 5%;
}
.img img{
    width:80%;
    height:80%;
}