
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&family=PT+Serif:ital@1&display=swap');
*{
    margin:0;
    font-family: 'PT Serif', serif;
   
}
.foodDetail{
    display: flex;
    flex-direction: row;
    /* width:60%; */
    font-size: 1.4rem;
    margin: 3rem;
}

.buttons{
    margin:auto;

}
.columnOne{
   margin: auto;

}
.columnTwo{
    margin: auto;
}
input{
border: none;
border-radius: 50;
}
.buttons{
    margin: 0;
}
.buttons button{
    width: 2.5rem;
    
    background-color: rgb(189, 64, 15);
    border: none;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.buttons button:hover{
    background-color: rgb(180, 58, 28);
}
form{
    display: flex;
    flex-direction: column;
    width:50%
}
.img{
    width:50%;
    margin:auto;
    padding-top: 5%;
}
.img img{
    width:45%;
    height:45%;
}