@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
.MainPage {
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
  opacity: 0.95;
  transition:all 0.3s ease-in;
}

.container{
  height: 90vh;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 252);
  transition:all 0.3s ease-in;
}
.lists {
  /* height: 90vh;
  width: 50vw; */
   /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4.2rem;
}
.address p{
font-size: 1.3rem;
color:rgb(255, 255, 255)
}
span a{
  text-decoration: none;
  color :rgb(252, 252, 252);
  padding: 0 2rem;
  transition: all 0.3s ease-in;
}
span a:hover{
  /* color: rgb(212, 108, 39);*/
  color: rgb(168, 49, 47) 
}

.mainActive {
  background-image: url(../image/theMainPicture.jpg);
  /* opacity: 0.95; */
  background-color: rgba(138, 138, 138, 0.548);
  background-blend-mode:multiply;
  transition: all 2s ease-out;
}
.foodActive {
  background-image: url(../image/foodPicture.jpg);
  background-color: rgb(75, 74, 74);
  background-blend-mode:multiply;
  opacity: 0.95;
  transition: all 0.3s ease;
}
.drinkActive {
  background-image: url(../image/drinkPicture.jpg);
  background-color: rgb(75, 74, 74);
  background-blend-mode:multiply;
  opacity: 0.95;
  transition: all 0.3s ease;
}
.visitActive {
  background-color: rgb(75, 74, 74);
  background-blend-mode:multiply;
  opacity: 0.95;
  background-image: url(../image/visitPicture.jpg);
  transition: all 0.3s ease;
}
