@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
* {
  margin: 0;
  overflow-x: hidden;
  font-family: "PT Serif", serif;
}

.meals{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.container {
    background-image: url(../image/menuBackground\ \(2\).jpg);
    background-color: rgb(102, 100, 101);
    /* opacity: 0.9; */
    background-blend-mode:multiply;
    background-attachment: scroll;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size:cover;
    display:grid;
    grid-template-columns: 1.8fr 5fr ;
}
