.navContainer {
  display: flex;
  width:19%;
  position: fixed;
  right: 0;
  padding: 0.8vw 0;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.navContainer li {
  transition: all 0.3s;
  list-style: none;
  padding: 0 0.7rem;
  color: black;
}
.navContainer li a {
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

/* .navContainer li:hover {

} */
.navContainer li a:hover {

 color: rgba(140,7,27,2);
}

.logo{
  width: 10%;
}
.logo img{
  width:100%;
}