.navContainer {
  display: flex;
  position: fixed;
  right: 0;
  padding: 3vw 0;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.navContainer li {
  transition: all 0.3s;
  list-style: none;
  padding: 0 0.7rem;
  color: #f5f5f5;
}
.navContainer li a {
  transition: all 0.3s;
  text-decoration: none;
  color: #f5f5f5;
}

.navContainer li:hover {
  color: rgb(231, 139, 18);
}
.navContainer li a:hover {
  color: rgb(231, 139, 18);
}
